{% extends 'mainapp/index.html' %}
{% block styles %}
<style>
  #authors li{
    display: inline;
  }
  .article_title{
    font-size: larger;
  }
</style>
{% endblock %}
{% block main %}
  {% for i in article_list %}
    <a href="{{ i.get_absolute_url }}" class="article_title">{{ i.title }}</a>
    <ul id="authors">
      <li>Авторы:</li>
      {% for j in i.authors.all %}
      <li><a href="{{ j.get_absolute_url }}">{{ j }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
