{% extends 'mainapp/index.html' %}
{% block main %}
  <h3>{{ article.title }}</h3>
  <text>{{ article.text }}</text>
  <h4>Авторы:</h5>
  <ul>
    {% for i in article.authors.all %}
      <li><a href="{{ i.get_absolute_url }}">{{ i }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
