{% extends 'mainapp/index.html' %}
{% block main %}
  <form method="POST" action="{% url 'article_create' %}">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <button type="submit">Добавить</button>
  </form>
{% endblock %}
