{% extends 'mainapp/index.html' %}
{% block main %}
  <h3>{{ author }}</h5>
  <h4>Статьи:</h4>
  <ul>
  {% for i in author.article_set.all %}
    <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
