{% block styles %}
  <style>
      #navbar li{
          display: inline;
          font-size: xx-large;
      }
  </style>
{% endblock %}
<ul id="navbar">
  <li><a href="{% url 'articles' %}">Статьи</a></li>
  <li><a href="{% url 'authors' %}">Авторы</a></li>
  <li><a href="{% url 'article_create' %}">Создать статью</a></li>
</ul>