<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% include 'mainapp/header.html' %}
    </header>
    <main></main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
